@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC&display=swap');

* {
  margin: 0px;
  padding: 0px;
}

body {
    font-family: 'Noto Sans SC', sans-serif;
}

p {
    color:blue;
}

/* div {
    background-color: black;
} */

header {
  display: flex;
  background-color: black;
  height: 70px;
}

.logozone {
  position: relative;
  width: 10vw;
  height: 100%;
}

.logo {
  height: 70px;
  width: auto;
  position: absolute;
  /* top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%); */
}

.navigation {
  position: relative;
  width: 90vw;
}

nav {
  height: 70px;
  background-color: black;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding-left: 10vw;
}

nav ul li {
  width: 15vw;
  text-align: center;
  height: 70px;
  line-height: 70px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 1vw;
}

hr {
  border-color: gray;
  border-width: 6px 0px 0px 0px;
}

.main {
  background-image: url(./image/background.jpg);
}

.main div{
  text-align: center;
  color: white;
}

.mainmessage {
  padding-top: 20vh;
  padding-left: 4vh;
  padding-right: 4vh;
}

.submessage {
  padding-top: 40px;
  padding-left: 4vh;
  padding-right: 4vh;
}
.signupmessage {
  padding-top: 50px;
  padding-left: 4vh;
  padding-right: 4vh;
}

.form {
  padding-top: 5vh;
  padding-bottom: 30vh;
}

.form ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

.form ul li {
  margin-right: 1px;
}

.email {
  border-color: gray;
  border-width: 2px;
  padding-left: 5px;
  width: 30vw;
  height: 40px;
  color: gray;
  font-size: 1vw;
}

.submit {
  border-color: gray;
  border-width: 1px;
  width: 15vw;
  height: 46px;
  background: red;
  color: white;
  font-size: 2vw;
}

.feature1 {
  background-color: black;
}

.message1 {
  padding-top: 20px;
  padding-left: 4vh;
  padding-right: 4vh;
  color: white;
  text-align: center;
}

.submessage1 {
  padding-top: 100px;
  padding-left: 4vh;
  padding-right: 4vh;
  color: white;
  text-align: center;
}

.divimg1 {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

.img1 {
  width: 70vw;
  height: auto;
}

.feature2 {
  background-color: black;
}

/*
    You can refer in Style Sheets to classes using the dot .
*/
.padding-color-class {
    /*
        Instead of color names you can also use hexdecimal values. The lower the
        number, the darker.
    */
    background-color: #000000;
    /*
        You can also give colors in RGB values (0 to 255). If you are expecting
        older browsers using your site, refrain from using RGB formatting.
    */
    color: rgb(100, 168, 200);
}

.background-image-class {
    background-image: url(https://placeimg.com/400/200/any); background-repeat: no-repeat;
    color: white;
}

.css-box-model-class {
    /*
        Demonstrates the CSS Box Model
    */
    border-width: 2px;
    /*
        In order to see the border, you will need a border style.
     */
    border-style: solid;
    /*
        You can add a margin to all four borders. If there is only one value,
        all borders are affected You can specify in clockwise order:
        top, right, bottom, left.
    */
    margin: 10px 5px 15px 25px;
    /*
        While margins are at the outside of the border, paddings are at the
        inside. You can specify a single value for all four margins, but you
        could also specify the padding individually the as for the margins.
    */
    padding: 50px;
}

/*
    Links can be styled with CSS as well. There are four states:
    link (original state), visited, hover, active (on click).
    For example, on hover, change the link color to green. Also, hover can be
    applied to divs.
*/
a:hover {
    color:green;
}

/*
    For your custom navbar, you can specify the unorderd list style.
*/
.navbar ul {
    /*
        Remove bullet points.
    */
    list-style: none;
    width: 500px;
    margin: 0 auto;
    /*
        No padding.
    */
    padding: 0;
    /*
        For navbars use background color that stands out.
    */
    background-color: black;
    text-align: center;
}

/*
    Style individual list items.
*/
.navbar li {
    width: 150 px;
    background-color: #000;
    border: 1px solid red;
    /*
        Show the navbar elements next to each other instead of on top of each
        other.
    */
    padding: 10px;
    display: inline-block;
    line-height: 40px;
}

/*
    Style links in navbar.
*/
.navbar a {
    color:#fff;
    text-decoration: none;
}

table, td {
    border: 1px solid gray;
}

input {
    /*
        Show different input on top of each other instead of next to each other.
    */
    display: block;
}

/*
    Style iframes.
*/
iframe {
    width:100%;
    height:100%;
    border: dotted;
}
