@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC&display=swap');

* {
  margin: 0px;
  padding: 0px;
}

body {
    font-family: 'Noto Sans SC', sans-serif;
}

p {
    color:blue;
}

/* div {
    background-color: black;
} */

header {
  display: flex;
  background-color: black;
  height: 70px;
}

.logozone {
  position: relative;
  width: 10vw;
  height: 100%;
}

.logo {
  height: 70px;
  width: auto;
  position: absolute;
}

.navigation {
  position: relative;
  width: 80vw;
}

nav {
  height: 70px;
  background-color: black;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding-left: 10vw;
}

nav ul li {
  width: 15vw;
  text-align: center;
  height: 70px;
  line-height: 70px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 1vw;
}

hr {
  border-color: gray;
  border-width: 6px 0px 0px 0px;
}


.main {
  background-image: url(./image/background.jpg);
}

.main div{
  text-align: center;
  color: white;
}

.mainmessage {
  padding-top: 15vh;
  padding-left: 4vh;
  padding-right: 4vh;
  font-size: 4vw;
}

.submessage {
  padding-top: 8vh;
  padding-left: 4vh;
  padding-right: 4vh;
  font-size: 2vw;
}
.signupmessage {
  padding-top: 10vh;
  padding-left: 4vh;
  padding-right: 4vh;
  font-size: 2vw;
}

.form {
  padding-top: 5vh;
  padding-bottom: 30vh;
}

.form form div {
  padding-bottom: 2vh;
}

#name {
  border-color: gray;
  border-width: 2px;
  padding-left: 5px;
  width: 40vw;
  height: 5vh;
  color: gray;
  font-size: 1vw;
}

#email {
  border-color: gray;
  border-width: 2px;
  padding-left: 5px;
  width: 40vw;
  height: 5vh;
  color: gray;
  font-size: 1vw;
}

#message {
  border-color: gray;
  border-width: 2px;
  padding-left: 5px;
  padding-top: 2px;
  width: 40vw;
  height: 20vh;
  color: gray;
  font-size: 1vw;
}

#submit {
  border-color: gray;
  border-width: 1px;
  width: 15vw;
  height: 46px;
  background: red;
  color: white;
  font-size: 1vw;
}
